version: 2.1

jobs:
  build:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: pip install --upgrade pip
      - run: pip install -r requirements.txt
      - run: pip install kafka-python
  test:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: coverage run -a -m unittest Pipeline.Tests.test_data_collection

workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
